
#msc-dialog .close {
    display:none;
}
#msc-dialog-body {
    overflow: auto;
}
#msc-dialog .submitbox,.msc-item-list li {
    overflow:hidden;
}

#msc-dialog h2 {
    border-bottom:1px solid #ddd;
    border-top:1px solid #ddd;
    cursor:pointer;
    margin:-1px 0 0;
    padding:10px;
}

#msc-dialog .msc-delete-item {
    float:left;
    width:7%;
}

#msc-dialog .msc-delete-value {
    padding:2% 2% 0;
}

#msc-dialog .msc-delete-value, #msc-dialog .msc-item-value {
    display:inline;
    float:left;
    margin-bottom:5px;
}

#msc-dialog .msc-filter-options {
    background:#fcfcfc;
    border:1px solid #ddd;
    display:none;
    margin:10px 0 0;
    padding:1%;
    overflow: hidden;
}

#msc-dialog .msc-filter-options h4 {
    margin:0;
}

#msc-dialog .msc-form {
    margin:0 1% 10px;
}

#msc-dialog .msc-form .msc-element input,
#msc-dialog .msc-form .msc-element select,
#msc-dialog .msc-form .msc-element textarea {
    padding: 0.5%;
    width: 81%;
}

#msc-dialog .msc-item  input,
#msc-dialog .msc-item  select,
#msc-dialog .msc-item textarea  {
    display: block;
}

#msc-dialog .msc-form .msc-element select,
#msc-dialog .msc-form .msc-element textarea {
    border: 1px solid #ddd;
    -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.07);
    background-color: #fff;
    color: #333;
    -webkit-transition: .05s border-color ease-in-out;
    transition: .05s border-color ease-in-out;    
}
#msc-dialog .msc-form .msc-element label {
    float: left;
    font-weight: 700;
    padding: 1%;
    width: 16%;
    clear:left;
}

#msc-dialog .msc-form .msc-element .msc-filter-options label  {
    width: 20%;
    margin-top: 8px;
}

#msc-dialog .msc-form .msc-element .msc-filter-options input {
    width:77%;
}

#msc-dialog .msc-form .msc-element,
#msc-dialog .msc-item-value label,
#msc-dialog .msc-item-value input,
#msc-dialog .msc-item-value select,
#msc-dialog .msc-item-value select {
    margin-top:10px;
}

#msc-dialog .msc-item-label {
    border-bottom:1px solid #ddd;
    float:left;
    padding:1% 0;
    width:100%;
}

#msc-dialog .msc-item-label h4 {
    float:left;
    margin:0;
}

#msc-dialog .msc-item-list {
    margin:0;
    overflow:hidden;
    padding:0;
}

#msc-dialog .msc-item-value {
    width:90%;
}

#msc-dialog .msc-item-value label,
#msc-dialog .msc-filter-options label {
    padding:5px 0;
}

#msc-dialog .msc-item-value-inner {
    margin:0;
    overflow:hidden;
    padding:0;
}

#msc-dialog .msc-item-value-wrapper {
    border-bottom:1px solid #ddd;
    border-left:1px solid #ddd;
    margin:0;
    padding-bottom:5px;
}

#msc-dialog .msc-item-values-wrapper {
    clear:left;
    float:left;
    margin:0 0 0 5%;
    padding:0;
    width:95%;
}

#msc-dialog .msc-toolbar {
    border-bottom:1px solid #ddd;
    margin:0 0 5px;
    overflow:hidden;
    padding:0 0 5px;
}

#msc-dialog .msc-toolbar li {
    display:inline;
    float:right;
    margin:0;
}

#msc-dialog .msc-toolbar li a {
    padding:0 5px;
}

#msc-dialog .msc-update {
    text-align:right !important;
    margin: 8px 7px !important;
}